---
import Layout from '../../layouts/main.astro';
import HomePage from '../../components/HomePage.astro';
import { homeContent } from '../../data/homeContent';
---

<Layout content={{ title: 'Hoesch@Home' }}>
  <section class="bg-gradient-to-br from-orange-50 via-amber-50/70 to-slate-50 text-slate-900">
    <HomePage content={homeContent.en} currentLocale="en" alternateLocaleHref="/" />
  </section>
</Layout>
