---
import photo7 from '../../assets/photos/7.avif';
import photo10 from '../../assets/photos/10.avif';
---

<div aria-hidden="true" class="decorative-blocks">
  <figure class="decorative-block decorative-block--photo decorative-block--tall" style={`--decor-image: url(${photo7.src});`}></figure>
  <div class="decorative-block decorative-block--solid decorative-block--short" style="--decor-color: #c77a5b;"></div>
  <figure class="decorative-block decorative-block--photo decorative-block--medium" style={`--decor-image: url(${photo10.src});`}></figure>
  <div class="decorative-block decorative-block--solid decorative-block--short" style="--decor-color: #ad5432;"></div>
</div>
